@import '../breakpoints';

body {
  background: #F2F0FF;
}

.content {
  padding: 50px 50px 0 50px;
  display: block;
  width: auto;
}

@include breakpoint-medium {

  .content {
    padding: 30px 30px 0 30px;
  }
}

@include breakpoint-small {

  .content {
    padding: 20px 20px 0 20px;
  }
}
