@import '../variables';
@import '../breakpoints';

header {
  display: flex;

  width: 100%;
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .brand {
    display: flex;

    .logo {
      margin: 12px 19px 12px 18px;
      width: 48px;
      height: 41px;
      background: url(https://raw.githubusercontent.com/CruzHacks/cruzhacks-organizer-challenges/a106064c60f10282e9d10d667fc985ea06dbcf34/design-assets/gradient-logo.svg) no-repeat;
      background-size: contain;
    }

    .page {
      margin: 24px 0;
      color: $theme-2;
      letter-spacing: 0.04em;
      text-indent: 3px;
    }
  }

  .logout {
    text-decoration: none;

    > div {
      margin: 15px 18px 16px 0;
      padding: 6px 0 10px 0;
      width: 124px;
      height: 34px;
      font-size: 14px;
      text-align: center;

      color: $theme-1;
      background: #FFFFFF;
      border: 2px solid $theme-1;
      box-sizing: border-box;
      border-radius: 30px;

      &:hover, &:active {
        background: #f8f8f8;
        cursor: pointer;
      }

      @include breakpoint-small {
        width: 110px;
      }
    }
  }
}

