@import '../variables';
@import '../breakpoints';

form {
  margin: 30px 0;

  .u-pull-right {
    @include breakpoint-small {
      float: left;
    }
  }
}

.button,
input[type='submit'] {
  margin: 5px 10px;
  padding: 10px 20px;
  width: auto;
  min-width: 130px;
  height: auto;
  font-size: 14px;
  text-align: center;
  user-select: none;

  color: $button-color;
  //background: #FFFFFF;
  border: 2px solid $button-color;
  box-sizing: border-box;
  border-radius: 30px;

  &:hover {
    color: $button-color-focus;
    border-color: $button-color-focus;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      opacity: 0.4;
    }
  }
}

input[type='submit'] {
  -webkit-appearance: none;
  opacity: 1;
}

#checkbox-input {
  display: flex;
  margin: 0 auto;
  padding: 5px 0;

  > label {
    font-size: 13px;
    padding: 0 10px;

    @include breakpoint-large {
      font-size: 13px;
      padding: 0 5px;
    }

    @include breakpoint-medium {
      font-size: 12px;
      padding: 0 2px;
    }
  }

  input[type='radio'] {
    -webkit-appearance: none;
    min-width: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;

    @include breakpoint-small {
      display: flex;
    }
  }

  input[type='radio']:checked {
    background: $theme-2;
  }

  @include breakpoint-small {
    display: block;
  }
}

.invalid {
  border: 1px solid $color-error !important;
}

.invalid-color {
  color: darken($color-error, 30%);
}

textarea {
  resize: none;
  height: auto !important;
}
