@import '../variables';
@import '../breakpoints';

form {
  margin: 30px 0;

  .u-pull-right {
    @include breakpoint-small {
      float: left;
    }
  }
}

.button {
  margin: 5px 10px;
  padding: 10px 20px;
  width: auto;
  min-width: 130px;
  height: auto;
  font-size: 14px;
  text-align: center;
  user-select: none;

  color: $button-color;
  //background: #FFFFFF;
  border: 2px solid $button-color;
  box-sizing: border-box;
  border-radius: 30px;

  &:hover {
    color: $button-color-focus;
    border-color: $button-color-focus;
  }
}
