@import '../variables';
@import '../breakpoints';

.announcement {
  background: #fcfcfc;
  margin-bottom: 50px;
  padding: 40px 0;
  text-align: center;
  display: inline-block;
  width: 100%;

  border-top: 5px solid $theme-1;
  border-left: 5px solid $theme-1;
  border-radius: 0 0 10px 0;

  @include breakpoint-medium {
    margin-bottom: 20px;
    padding: 30px 0;
  }

  &-date {
    padding: 10px;

    @include breakpoint-small {
      font-size: 18px;
    }
  }

  &-title {
    padding: 10px;

    @include breakpoint-small {
      font-size: 14px;
    }
  }
}
