/* CSS Animations */

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}


.slide-left {
  animation: slide-left 0.8s;
}
