/* Responsive breakpoints */

$breakpoints: (
        'small'  : 400px,
        'medium' : 550px,
        'large'  : 750px,
        'xlarge' : 1000px
);

@mixin breakpoint-small {
  $max-value: map-get($breakpoints, medium) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-medium {
  $max-value: map-get($breakpoints, large) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-large {
  $max-value: map-get($breakpoints, xlarge) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}
