/* Useful variables including theme etc */

// light
$theme-1: #6F6FE8;
// medium
$theme-2: #5252E2;
// dark
$theme-3: #4A38F2;

// Background color
$color-bg: #F2F0FF;

$color-error: #FC92AB;


$button-color: $theme-2;
$button-color-focus: lighten($button-color, 5%);
