
// Import modules
@import 'resets';
@import 'skeleton.css';

@import 'variables';
@import 'animations';
@import 'breakpoints';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F0FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Update headers to CruzHacks theme color
h1, h2, h3, h4, h5, h6 {
  color: $theme-3;
}
